<div class="wrapper">
	<div class="left_footer">
		<table class="table-responsive">
					<thead>
						<tr>
							<th scope="col" class="footer">eido</th>
							<th scope="col" class="footer">webeido</th>
							<th scope="col" class="footer">Python</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row" class="footer">
								<code class="footer">{{eido_version}}</code>
							</td>
							<td scope="row" class="footer">
								<code class="footer">{{webeido_version}}</code>
							</td>
							<td scope="row" class="footer">
								<code class="footer">{{python_version}}</code>
							</td>
						</tr>
					</tbody>
				</table>
	</div>
	<div class="center_footer">
		<a href="/openapi.json">OpenAPI {{openapi_version}} description</a></div>
	<div class="right_footer">
		&copy; 2021 <a href="http://databio.org/" target="_new">Sheffield Computational Biology Lab</a>
	</div>
</div>